.notification-preview-coupon {
    width: 100% !important;
}

.valcode-wrapper {
    margin: 2rem 0 !important;
    font-family: 'Roboto', sans-serif !important;
    box-sizing: border-box !important;
    padding: 0 !important;
    margin: 2rem !important;
}

.valcode-wrapper-shadow {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
}

/* =================COUPON DISPLAY WITH COPY BUTTON============  */

.valcode-cdwcb-content {
    display: flex !important;
    justify-content: center !important;
    width: 450px !important;
    max-width: 450px !important;
    position: relative !important;
    border-radius: 5px !important;
}

.valcode-cdwcb-image {
    flex: 1 !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    width: 100% !important;

}

.valcode-cdwcb-image .valcode-cdwcb-image-img {
    width: 60% !important;
    height: 60% !important;
}

.valcode-cdwcd-close {
    width: 30px !important;
    height: 30px !important;
    background: transparent !important;
    border: none !important;
    outline: none !important;
    position: absolute !important;
    right: 10px !important;
    cursor: pointer !important;
    z-index: 1 !important;
}

.valcode-cdwcd-close .valcode-cdwcd-close-img {
    width: 10px !important;
    height: 10px !important;
}



.valcode-cdwcb-details {
    flex: 1.5 !important;
    text-align: center !important;
    padding: 0.5rem 0 !important;
}

.valcode-cdwcb-title {
    font-size: 18px !important;
    font-weight: 600 !important;
}

.valcode-cdwcb-subtitle {
    font-size: 14px !important;
    padding: 0.3rem 0 !important;
    font-weight: 600 !important;

}

.valcode-cdwcb-coupon-code-container {
    margin: 0 auto !important;
    border-radius: 5px !important;
    width: 60% !important;
}

.valcode-cdwcd-coupon-code {
    font-size: 16px !important;
    margin: 0 !important;
    padding: 0.5rem 0 !important;
    font-weight: 600 !important;

}

.valcode-cdwcd-copy-button {
    border-radius: 5px !important;
    padding: 0.5rem 0 !important;
    margin-top: 1rem !important;
    cursor: pointer !important;
    font-size: 14px !important;
    width: 60% !important;

}

.valcode-cdwcd-checkout {
    font-style: italic !important;
    font-size: 10px !important;
    padding: 0.5rem 0 !important;
}

@media(max-width: 950px) {

    .valcode-cdwcb-content {
        width: 250px !important;
        max-width: 250px !important;

    }

    .valcode-cdwcd-close {
        position: absolute !important;
        right: 0 !important;
        top: 0 !important;
        cursor: pointer !important;
        z-index: 1 !important;
    }

    .valcode-cdwcb-image .valcode-cdwcb-image-img {
        width: 60% !important;
        height: 50% !important;
    }



    .valcode-cdwcd-close .valcode-cdwcd-close-img {
        width: 6px !important;
        height: 6px !important;
    }



    .valcode-cdwcb-details {
        padding: 0.3rem 0.3rem !important;
    }

    .valcode-cdwcb-title {
        font-size: 12px !important;
        font-weight: 600 !important;
    }

    .valcode-cdwcb-subtitle {
        font-size: 10px !important;
        padding: 0.3rem 0 !important;
        font-weight: 600 !important;

    }


    .valcode-cdwcd-coupon-code {
        font-size: 10px !important;
        padding: 0.4rem 0 !important;


    }

    .valcode-cdwcd-copy-button {
        padding: 0.3rem 0 !important;
        margin-top: 1rem !important;
        font-size: 8px !important;
        width: 60% !important;

    }

    .valcode-cdwcd-checkout {
        font-size: 8px !important;
        padding: 0.1rem 0 !important;
    }
}


/* <!-- ========== FULL CALL TO ACTION BAR ================== --> */

.valcode-fctab-content {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: 400px !important;
    gap: 10px !important;
    padding: 0.1rem 1rem !important;
}

.valcode-fctab-details {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 10px !important;
}

.valcode-fctab-details .valcode-fctab-image {
    height: 20px !important;
}

.valcode-fctab-text {
    font-size: 12px !important;
}

.valcode-fctab-button {
    padding: 0.2rem 0.5rem !important;
    cursor: pointer !important;
    border: none !important;
    outline: none !important;
    font-size: 12px !important;
    border-radius: 2px !important;
}

@media(max-width: 950px) {
    .valcode-fctab-text {
        font-size: 8px !important;
    }


    .valcode-fctab-details .valcode-fctab-image {
        height: 10px !important;
    }

    .valcode-fctab-button {
        padding: 0.2rem 0.3rem !important;
        cursor: pointer !important;
        border: none !important;
        outline: none !important;
        font-size: 5px !important;
    }

    .valcode-fctab-content {
        gap: 4px !important;
        padding: 0.2rem 0.3rem !important;
        width: 220px !important;
    }

    .valcode-fctab-details {
        gap: 4px !important;
    }
}




/* ========================FULL CALL TO ACTION BAR WITH TIMER =============================  */

.valcode-fctabwt-content {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 10px !important;
    width: 450px !important;
    padding: 0.3rem 0.3rem !important;

}

.valcode-fctabwt-text {
    font-size: 12px !important;
}

.valcode-fctabwt-box {
    display: flex !important;
    align-items: center !important;
    flex-direction: column !important;
}

.valcode-fctabwt-time {
    font-size: 12px !important;
}

.valcode-fctabwt-timer-container {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 10px !important;
}

.valcode-fctabwt-span {
    font-size: 10px !important;
}

.valcode-fctabwt-button {
    padding: 0.5rem 0.5rem !important;
    cursor: pointer !important;
    border: none !important;
    outline: none !important;
    margin-left: 1rem !important;
    font-weight: 600 !important;
    font-size: 10px !important;
}

@media(max-width:950px) {
    .valcode-fctabwt-content {
        gap: 5px !important;
        width: 250px !important;
        padding: 0.2rem 0.5rem !important;

    }

    .valcode-fctabwt-time {
        font-size: 8px !important;
    }

    .valcode-fctabwt-span {
        font-size: 5px !important;
    }

    .valcode-fctabwt-text {
        font-size: 8px !important;
    }

    .valcode-fctabwt-timer-container {
        gap: 3px !important;
    }

    .valcode-fctabwt-button {
        padding: 0.2rem 0.3rem !important;
        font-size: 10px !important;
    }
}


/* third piece ends here  */

/* fourth piece starts here  */
/* <!-- ============COUPON WITH OPT-IN FORM(GET IT)========== --> */

.valcode-cwof-get-content {
    width: 300px !important;
    max-width: 300px !important;
    border-radius: 10px !important;
    position: relative !important;
    padding: 1rem 0.5rem !important;
}

.valcode-cwof-get-imagebox {
    position: relative !important;
    width: 300px !important;
    max-width: 300px !important;
    height: 140px !important;
    max-height: 140px !important;

}

.valcode-cwof-get-bulbimage {
    width: 200px !important;
}

.valcode-cwof-get-bulbimage .valcode-cwof-get-bulbimage-img {
    width: 200px !important;
}

.valcode-cwof-get-giftbox {
    position: absolute !important;
    width: 80px !important;
    top: 50px !important;
    left: 120px !important;
}

.valcode-cwof-get-giftbox .valcode-cwof-get-giftbox-img {
    width: 80px !important;
}

.valcode-cwof-get-title {
    font-size: 24px !important;
    opacity: 70% !important;
}

.valcode-cwof-get-subtitle {
    font-size: 30px !important;
    text-align: center !important;
    margin: 0 !important;

}

.valcode-cwof-get-button {
    border: none !important;
    outline: none !important;
    width: 50% !important;
    padding: 0.5rem 0 !important;
    margin: 1rem 0 1rem 0 !important;
    border-radius: 5px !important;
    cursor: pointer !important;
}

.valcode-cwof-get-close {
    width: 30px !important;
    height: 30px !important;
    background: transparent !important;
    border: none !important;
    outline: none !important;
    position: absolute !important;
    right: 10px !important;
    top: 0 !important;
    cursor: pointer !important;
    z-index: 1 !important;
}

.valcode-cwof-get-close img {
    width: 10px !important;
    height: 10px !important;
}

@media(max-width:950px) {
    .valcode-cwof-get-content {
        width: 200px !important;
        max-width: 200px !important;

    }

    .valcode-cwof-get-imagebox {
        position: relative !important;
        width: 100px !important;
        max-width: 100px !important;
        height: 90px !important;
        max-height: 90px !important;

    }

    .valcode-cwof-get-bulbimage {
        width: 100px !important;
    }

    .valcode-cwof-get-bulbimage .valcode-cwof-get-bulbimage-img {
        width: 100px !important;
    }

    .valcode-cwof-get-giftbox {
        position: absolute !important;
        width: 50px !important;
        top: 25px !important;
        left: 32px !important;
    }

    .valcode-cwof-get-giftbox .valcode-cwof-get-giftbox-img {
        width: 40px !important;
    }


    .valcode-cwof-get-title {
        font-size: 20px !important;
        opacity: 70% !important;
    }

    .valcode-cwof-get-subtitle {
        font-size: 24px !important;
    }
}


/* <!-- ===============COUPON WITH OPT-IN FORM(SUBSCRIBE)=============== --> */

.valcode-cwof-subscribe-content {
    width: 300px !important;
    max-width: 300px !important;
    border-radius: 10px !important;
    position: relative !important;
}

.valcode-cwof-subscribe-header {
    width: 100% !important;
    border-top-right-radius: 10px !important;
    border-top-left-radius: 10px !important;
}

.valcode-cwof-subscribe-close {
    width: 30px !important;
    height: 30px !important;
    background: transparent !important;
    border: none !important;
    outline: none !important;
    position: absolute !important;
    right: 10px !important;
    cursor: pointer !important;
    z-index: 1 !important;
}

.valcode-cwof-subscribe-close img {
    width: 20px !important;
    height: 20px !important;
}

.valcode-cwof-subscribe-title {
    font-size: 30px !important;
    text-align: start !important;
    padding: 2.5rem 0 1rem 1rem !important;
}

.valcode-cwof-subscribe-form {
    display: flex !important;
    flex-direction: column !important;
    width: 100% !important;
    justify-content: start !important;
    align-items: flex-start !important;
    padding: 0 1rem !important;
}

.valcode-cwof-subscribe-subtitle {
    text-align: start !important;
    font-size: 14px !important;
    padding: 1rem 2rem 1rem 1rem !important;
}

.valcode-cwof-subscribe-label {
    font-size: 14px !important;
}

.valcode-cwof-subscribe-input {
    width: 70% !important;
    outline: none !important;
    border-radius: 5px !important;
    padding: 0.5rem 0.5rem !important;
    margin-top: 0.5rem !important;
}

.valcode-cwof-subscribe-button {
    margin: 1rem 0 !important;
    padding: 0.6rem 0 !important;
    width: 80% !important;
    border: none !important;
    outline: none !important;
    cursor: pointer !important;
    border-radius: 5px !important;
}

@media(max-width: 950px) {
    .valcode-cwof-subscribe-content {
        width: 250px !important;
        max-width: 250px !important;

    }

    .valcode-cwof-subscribe-title {
        font-size: 20px !important;
    }
}

/* <!-- =============LIVE COUNTER ====================== --> */

.valcode-livecounter-content {
    display: flex !important;
    justify-content: start !important;
    align-items: center !important;
    width: 250px !important;
    gap: 10px !important;
    padding: 0.5rem 0.5rem !important;
    border-radius: 5px !important;
    position: relative !important;
}

.valcode-livecounter-close {
    width: 30px !important;
    height: 30px !important;
    background: transparent !important;
    border: none !important;
    outline: none !important;
    position: absolute !important;
    right: 0 !important;
    top: -2px !important;
    cursor: pointer !important;
    z-index: 1 !important;
}

.valcode-livecounter-close .valcode-livecounter-close-img {
    width: 8px !important;
    height: 8px !important;
}

.valcode-livecounter-image {
    width: 40px !important;
    height: 40px !important;
}


.valcode-livecounter-image .valcode-livecounter-image-img {
    width: 40px !important;
    height: 40px !important;
}

.valcode-livecounter-title {
    font-size: 12px !important;
    font-weight: 500 !important;
    text-align: start !important;
    margin: 0 !important;
}

.valcode-livecounter-subtitle {
    font-size: 10px !important;
    text-align: start !important;
    margin: 0 !important;
    line-height: 1rem !important;
}

@media(max-width:950px) {
    .valcode-livecounter-content {
        width: 190px !important;
        gap: 6px !important;

    }

    .valcode-livecounter-close {
        right: -5px !important;
        top: -5px !important;
    }

    .valcode-livecounter-image {
        width: 20px !important;
        height: 20px !important;
    }

    .valcode-livecounter-close .valcode-livecounter-close-img {
        width: 6px !important;
        height: 6px !important;
    }



    .valcode-livecounter-image .valcode-livecounter-image-img {
        width: 20px !important;
        height: 20px !important;
    }


    .valcode-livecounter-title {
        font-size: 10px !important;
    }

    .valcode-livecounter-subtitle {
        font-size: 8px !important;

    }
}

/* <!-- =============== CONVERSION COUNTER ============= --> */

.valcode-conversion_counter-content {
    display: flex !important;
    justify-content: start !important;
    align-items: flex-start !important;
    width: 260px !important;
    gap: 10px !important;
    padding: 0.5rem 1rem !important;
    border-radius: 5px !important;
    position: relative !important;
}

.valcode-conversion_counter-close {
    width: 30px !important;
    height: 30px !important;
    background: transparent !important;
    border: none !important;
    outline: none !important;
    position: absolute !important;
    right: 0 !important;
    top: 0 !important;
    cursor: pointer !important;
    z-index: 1 !important;
}

.valcode-conversion_counter-close .valcode-conversion_counter-close-img {
    width: 8px !important;
    height: 8px !important;
}

.valcode-conversion_counter-details {
    display: flex !important;
    flex-direction: column !important;
}

.valcode-conversion_counter-image {
    width: 30px !important;
    height: 30px !important;
    padding-top: 0.5rem !important;
}

.valcode-conversion_counter-image img {
    width: 30px !important;
    height: 30px !important;
}

.valcode-conversion_counter-flash {
    width: 20px !important;
    height: 20px !important;
}

.valcode-conversion_counter-flash img {
    width: 20px !important;
    height: 20px !important;
}

.valcode-conversion_counter-text {
    font-size: 10px !important;
    text-align: start !important;
    margin: 0 !important;
    padding-top: 0.5rem !important;
}

.valcode-conversion_counter-link {
    font-size: 10px !important;
    float: left !important;
    padding: 0.2rem 0 !important;
}

.valcode-conversion_counter-footer {
    display: flex !important;
    justify-content: end !important;
    align-items: center !important;
    font-size: 10px !important;
    margin: 0 !important;
}

@media(max-width:950px) {
    .valcode-conversion_counter-content {
        width: 220px !important;
        gap: 10px !important;
    }

    .valcode-conversion_counter-image {
        width: 20px !important;
        height: 20px !important;
        padding: 0 !important;
    }

    .valcode-conversion_counter-image img {
        width: 20px !important;
        height: 20px !important;
    }

    .valcode-conversion_counter-flash {
        width: 10px !important;
        height: 10px !important;
    }

    .valcode-conversion_counter-flash img {
        width: 10px !important;
        height: 10px !important;
    }

    .valcode-conversion_counter-text {
        font-size: 10px !important;
        padding: 0 !important;
        line-height: 0.8rem !important;
    }

    .valcode-conversion_counter-link {
        font-size: 10px !important;
        padding: 0.1rem 0 !important;
    }

    .valcode-conversion_counter-footer {
        font-size: 10px !important;
    }
}

/* seventh piece ends here  */
/* <!-- ========= YES/NO BAR ================ --> */

.valcode-ynbar-content {
    display: flex !important;
    justify-content: center !important;
    flex-direction: column !important;
    align-items: center !important;
    width: 250px !important;
    gap: 10px !important;
    border-radius: 5px !important;
    position: relative !important;
}

.valcode-ynbar-close {
    width: 30px !important;
    height: 30px !important;
    background: transparent !important;
    border: none !important;
    outline: none !important;
    position: absolute !important;
    right: 0 !important;
    top: 0 !important;
    cursor: pointer !important;
    z-index: 1 !important;
}

.valcode-ynbar-close img {
    width: 10px !important;
    height: 10px !important;
}

.valcode-ynbar-image {
    width: 140px !important;
    height: 120px !important;
}

.valcode-ynbar-image img {
    width: 140px !important;
    height: 120px !important;
}

.valcode-ynbar-title {
    padding: 0.5rem 0 !important;
    font-size: 14px !important;
}

.valcode-ynbar-button {
    padding: 0.5rem 0 !important;
    width: 70% !important;
    margin: 0.5rem 0 !important;
    border: none !important;
    border-radius: 5px !important;
    font-size: 10px !important;
    font-family: inherit !important;
}

@media(max-width:950px) {
    .valcode-ynbar-content {
        width: 180px !important;
        gap: 10px !important;
    }

    .valcode-ynbar-image {
        width: 120px !important;
        height: 100px !important;
    }

    .valcode-ynbar-image img {
        width: 120px !important;
        height: 100px !important;
    }

    .valcode-ynbar-title {
        padding: 0.5rem 0 !important;
        font-size: 10px !important;
    }

    .valcode-ynbar-button {
        padding: 0.5rem 0 !important;
        width: 80% !important;
        border: none !important;
        font-size: 8px !important;
    }
}

/* =========== COUNTDOWNTIMER=========================  */
.valcode-countdowntimer-content {
    display: flex !important;
    justify-content: center !important;
    flex-direction: column !important;
    align-items: center !important;
    width: 250px !important;
    border-radius: 5px !important;
    position: relative !important;
}

.valcode-countdowntimer-title {
    font-size: 14px !important;
    font-weight: 600 !important;
    word-spacing: 0.2rem !important;
}

.valcode-countdowntimer-close {
    width: 30px !important;
    height: 30px !important;
    background: transparent !important;
    border: none !important;
    outline: none !important;
    position: absolute !important;
    right: -40px !important;
    top: -20px !important;
    cursor: pointer !important;
    z-index: 1 !important;
}

.valcode-countdowntimer-close img {
    width: 8px !important;
    height: 8px !important;
}

.valcode-countdowntimer-container {
    display: flex !important;
    justify-content: space-around !important;
    align-items: center !important;
    gap: 8px !important;
    padding: 1rem 0 !important;
}

.valcode-countdowntimer-time {
    height: 20px !important;
    width: 20px !important;
    font-size: 16px !important;
    padding: 0.5rem 0.5rem !important;
    border-radius: 4px !important;
    font-weight: 600 !important;
}

.valcode-countdowntimer-bolt {
    height: 15px !important;
    width: 15px !important;
}

.valcode-countdowntimer-bolt img {
    height: 15px !important;
    width: 15px !important;
}

.valcode-countdowntimer-timebox {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    gap: 1px !important;
}

.valcode-countdowntimer-period {
    margin-top: 0.2rem !important;
    font-size: 12px !important;
}

.valcode-countdowntimer-button {
    font-family: inherit !important;
    font-size: 12px !important;
    padding: 0.3rem 2rem !important;
    border-radius: 3px !important;
    border: none !important;
    outline: none !important;
}

@media(max-width:950px) {
    .valcode-countdowntimer-content {
        width: 200px !important;
    }

    .valcode-countdowntimer-title {
        font-size: 10px !important;
        word-spacing: 0.1rem !important;
        text-align: center !important;
    }

    .valcode-countdowntimer-container {
        gap: 8px !important;
        padding: 0.6rem 0 !important;
    }

    .valcode-countdowntimer-time {
        height: 10px !important;
        width: 10px !important;
        font-size: 10px !important;
        padding: 0.5rem 0.5rem !important;
        border-radius: 1px !important;
        font-weight: 600 !important;
    }

    .valcode-countdowntimer-period {
        font-size: 10px !important;
    }

    .valcode-countdowntimer-button {
        font-size: 10px !important;
        padding: 0.3rem 1rem !important;
        border-radius: 3px !important;
    }
}

/* =========================SUPPORT BOX====================  */

.valcode-supportbox-content {
    width: 300px !important;
    border-radius: 5px !important;
    height: 380px !important;
    max-width: fit-content !important;
    position: relative !important;
    overflow: hidden !important;
}

.valcode-supporbox-header {
    width: 100% !important;
    display: flex !important;
    justify-content: start !important;
    align-items: center !important;
    gap: 10px !important;
    padding: 0.5rem 1rem !important;
}

.valcode-supportbox-close {
    width: 30px !important;
    height: 30px !important;
    background: transparent !important;
    border: none !important;
    outline: none !important;
    position: absolute !important;
    right: 0 !important;
    top: 0 !important;
    cursor: pointer !important;
    z-index: 1 !important;
}

.valcode-supportbox-close img {
    width: 15px !important;
    height: 15px !important;
}

.valcode-supporbox-avatar {
    height: 40px !important;
    width: 40px !important;
}

.valcode-supporbox-avatar img {
    height: 40px !important;
    width: 40px !important;
}

.valcode-supporbox-title {
    font-size: 14px !important;
}

.valcode-supporbox-leftchat {
    display: flex !important;
    justify-content: start !important;
    align-items: center !important;
    gap: 10px !important;
    margin: 1rem 0 0.5rem 0.5rem !important;
}

.valcode-supporbox-leftchat-image {
    height: 30px !important;
    width: 30px !important;
}

.valcode-supporbox-leftchat-image img {
    height: 30px !important;
    width: 30px !important;
}

.valcode-supporbox-leftchat-text {
    font-size: 12px !important;
    margin: 0 !important;

}

.valcode-supporbox-leftchat-chat {
    padding: 0.7rem 0.7rem !important;
    max-width: 65% !important;
    text-align: start !important;
    border-radius: 20px !important;
}

.valcode-supporbox-rightchat-chat {
    padding: 0.7rem 0.7rem !important;
    max-width: 65% !important;
    text-align: end !important;
    border-radius: 20px !important;
}

.valcode-supporbox-rightchat {
    display: flex !important;
    justify-content: end !important;
    align-items: center !important;
    gap: 10px !important;
    margin: 1rem 0.5rem 0.5rem 0 !important;
}

.valcode-supporbox-rightchat-image {
    height: 30px !important;
    width: 30px !important;
}

.valcode-supporbox-rightchat-image img {
    height: 30px !important;
    width: 30px !important;
}

.valcode-supporbox-rightchat-text {
    font-size: 12px !important;
    margin: 0 !important;
}

.valcode-supporbox-footer {
    position: absolute !important;
    bottom: 0 !important;
    display: flex !important;
    align-items: center !important;
    width: 100% !important;
    padding: 0.5rem 1rem !important;
}

.valcode-supporbox-footer-btn {
    height: 30px !important;
    width: 30px !important;
    border: none !important;
    outline: none !important;
    background: transparent !important;
    cursor: pointer !important;
}

.valcode-supporbox-footer-input {
    width: 70% !important;
    font-size: 8px !important;
    border: none !important;
    outline: none !important;
    padding: 0.3rem 0.2rem !important;
}

.valcode-supporbox-footer-buttons {
    display: flex !important;
    justify-content: space-around !important;
    align-items: center !important;
    width: 20% !important;
}

.valcode-supporbox-footer-btn .valcode-supporbox-footer-btn-image1 {
    height: 18px !important;
    width: 18px !important;
}

.valcode-supporbox-footer-btn .valcode-supporbox-footer-btn-image2 {
    height: 25px !important;
    width: 25px !important;
}

@media(max-width:950px) {

    .valcode-supportbox-content {
        width: 250px !important;
        height: 280px !important;
    }

    .valcode-supporbox-avatar {
        height: 30px !important;
        width: 30px !important;
    }

    .valcode-supporbox-footer-buttons {
        gap: 5px !important;
    }

    .valcode-supporbox-avatar img {
        height: 30px !important;
        width: 30px !important;
    }

    .valcode-supporbox-title {
        font-size: 12px !important;
    }

    .valcode-supporbox-leftchat-image {
        height: 25px !important;
        width: 25px !important;
    }

    .valcode-supporbox-leftchat-image img {
        height: 25px !important;
        width: 25px !important;
    }

    .valcode-supporbox-leftchat-text {
        font-size: 10px !important;
    }

    .valcode-supporbox-rightchat-image {
        height: 25px !important;
        width: 25px !important;
    }

    .valcode-supporbox-rightchat-image img {
        height: 25px !important;
        width: 25px !important;
    }

    .valcode-supporbox-rightchat-text {
        font-size: 10px !important;
    }

    .valcode-supporbox-footer {
        padding: 0.5rem 0.5rem !important;
    }

    .valcode-supporbox-footer-btn {
        height: 25px !important;
        width: 25px !important;

    }

    .valcode-supporbox-footer-btn .valcode-supporbox-footer-btn-image1 {
        height: 16px !important;
        width: 16px !important;
    }

    .valcode-supporbox-footer-btn .valcode-supporbox-footer-btn-image2 {
        height: 22px !important;
        width: 22px !important;
    }

}


/* ============ EVENT REGISTRATION WITH TIMER ====  */
.valcode-erwt-content {
    width: 300px !important;
    border-radius: 5px !important;
    max-width: fit-content !important;
    padding: 1rem 1rem !important;
    position: relative !important;
}

.valcode-erwt-close {
    width: 30px !important;
    height: 30px !important;
    background: transparent !important;
    border: none !important;
    outline: none !important;
    position: absolute !important;
    right: 0 !important;
    top: 0 !important;
    cursor: pointer !important;
    z-index: 1 !important;
}

.valcode-erwt-close img {
    width: 15px !important;
    height: 15px !important;
}

.valcode-erwt-title {
    width: 60% !important;
    font-weight: 800 !important;
    font-size: 16px !important;
    padding: 0.3rem 0 !important;
    border-radius: 5px !important;
    margin: 0 !important;
}

.valcode-erwt-subtitle {
    font-size: 12px !important;
    text-align: center !important;
    padding: 1rem 0.5rem !important;
}

.valcode-erwt-videocontent {
    width: 250px !important;
    height: 150px !important;
    object-fit: contain !important;
}

.valcode-erwt-box {
    display: flex !important;
    justify-content: center !important;
    flex-direction: column !important;
    align-items: center !important;
}

.valcode-erwt-videocontent img {
    width: 250px !important;
    height: 150px !important;
}

.valcode-erwt-timer-container {
    display: flex !important;
    justify-content: center !important;
    align-items: flex-start !important;
    gap: 6px !important;
    padding: 1rem 0 !important;
}

.valcode-erwt-time {
    font-size: 16px !important;
    font-weight: 600 !important;
}

.valcode-erwt-span {
    font-size: 10px !important;
}

.valcode-erwt-footer-input {
    border: none !important;
    outline: none !important;
    padding: 0.5rem 0.5rem !important;
    width: 60% !important;
    border-radius: 5px !important;
}

.valcode-erwt-footer-btn {
    border: none !important;
    outline: none !important;
    padding: 0.5rem 0 !important;
    width: 28% !important;
    border-radius: 5px !important;
    font-family: inherit !important;
    font-weight: 600 !important;
}

.valcode-erwt-footer-text {
    font-size: 8px !important;
    margin-top: 0.5rem !important;
}

@media(max-width:950px) {
    .valcode-erwt-content {
        width: 200px !important;
    }

    .valcode-erwt-title {
        width: 65% !important;
        font-size: 14px !important;
    }

    .valcode-erwt-subtitle {
        font-size: 8px !important;
        text-align: center !important;
        padding: 1rem 0.5rem !important;
    }

    .valcode-erwt-videocontent {
        width: 150px !important;
        height: 100px !important;
        max-width: fit-content !important;
        max-height: fit-content !important;
    }

    .valcode-erwt-videocontent img {
        width: 150px !important;
        height: 100px !important;
    }

    .valcode-erwt-timer-container {
        display: flex !important;
        justify-content: center !important;
        align-items: flex-start !important;
        gap: 1px !important;
        padding: 1rem 0 !important;
    }

    .valcode-erwt-time {
        font-size: 14px !important;
    }

    .valcode-erwt-span {
        font-size: 8px !important;
    }

    .valcode-erwt-footer-input {
        font-size: 10px !important;

    }

    .valcode-erwt-footer-btn {
        font-size: 10px !important;

    }

}

/* ================================LATEST CONVERSATION STARTS HERE ===================*/


.valcode-latest-converse-content {
    width: fit-content !important;
    max-width: fit-content !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    position: relative !important;
}

.valcode-latest-converse-profile-wrapper {
    border-radius: 5px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 0.3rem 0.3rem !important;

}

.valcode-latest-converse-close {
    width: 30px !important;
    height: 30px !important;
    background: transparent !important;
    border: none !important;
    outline: none !important;
    position: absolute !important;
    right: 0 !important;
    top: 0 !important;
    cursor: pointer !important;
    z-index: 1 !important;
}

.valcode-latest-converse-close img {
    width: 8px !important;
    height: 8px !important;
}

.valcode-latest-converse-profile-img {
    width: 3rem !important;
    height: 3rem !important;
}

.valcode-latest-converse-profile-title-wrapper {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    padding: 0.3rem 0.3rem !important;
    border-radius: 5px !important;
}

.valcode-latest-converse-profile-title-header {
    font-size: 12px !important;
    font-weight: bolder !important;
    margin: 0 !important;
}

.valcode-latest-converse-profile-title-appointment {
    padding: 0.3rem 0 !important;
    font-weight: 500 !important;
    margin: 0 !important;
}

.valcode-latest-converse-profile-title-time {
    display: flex !important;
    align-items: center;
    gap: 2rem !important;
    font-size: 10px;
}

.valcode-latest-converse-profile-title-time-one {
    margin: 0 !important;

}



@media (max-width: 950px) {

    .valcode-latest-converse-content {
        gap: 1.5px !important;
    }

    .valcode-latest-converse-profile-wrapper {
        width: 2rem !important;
    }

    .valcode-latest-converse-close {
        right: -5px !important;
        top: -6px !important;

    }

    .valcode-latest-converse-close img {
        width: 6px !important;
        height: 6px !important;
    }

    .valcode-latest-converse-profile-img {
        width: 2rem !important;
        height: 2.5rem !important;
    }

    .valcode-latest-converse-profile-title-wrapper {
        padding: 0.4rem 0.1rem !important;
    }

    .valcode-latest-converse-profile-title-header {
        font-size: 10px !important;
        font-weight: bolder !important;
    }

    .valcode-latest-converse-profile-title-appointment {
        font-size: 8px !important;
    }

    .valcode-latest-converse-profile-title-time {
        gap: .4rem !important;
        font-size: 8px !important;
    }
}

/* ================================LATEST CONVERSATION ENDS HERE================ */

/* ========================================SLOTS CONTENTS STARTS HERE============================================= */

.valcode-slot-content {
    width: fit-content !important;
    height: fit-content !important;
    justify-content: center !important;
    align-items: center !important;
    border-radius: 5px !important;
    width: 100px !important;
    position: relative !important;

}

.valcode-slot-close {
    width: 30px !important;
    height: 30px !important;
    background: transparent !important;
    border: none !important;
    outline: none !important;
    position: absolute !important;
    right: -5px !important;
    top: -5px !important;
    cursor: pointer !important;
    z-index: 1 !important;
}

.valcode-slot-close img {
    width: 12px !important;
    height: 12px !important;
}

.valcode-slot-box1 {
    padding: 0.5rem 0 !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;

}

.valcode-slot-code {
    font-weight: 300 !important;
    margin: 0 !important;
}

.valcode-slot-box2 {
    font-weight: bolder !important;
    padding: 0.5rem 0 !important;

}

.valcode-slot-remain {
    margin: 0 !important;
}


@media (max-width: 700px) {
    .valcode-slot-content {
        width: 60px !important;

    }

    .valcode-slot-box1 {
        padding: 0.2rem 0 !important;

    }

    .valcode-slot-close {
        right: -6px !important;
        top: -7px !important;
        cursor: pointer !important;
        z-index: 1 !important;
    }

    .valcode-slot-close img {
        width: 10px !important;
        height: 10px !important;
    }

    .valcode-slot-box2 {
        padding: 0.2rem 0 !important;
    }

    .valcode-slot-code {
        font-size: 14px !important;
    }

    .valcode-slot-remain {
        font-size: 10px !important;
    }

    .valcode-slotcode {
        font-size: 1.5rem !important;
    }

}

/* =================================SLOTS CONTENTS ENDS HERE====================================== */

/*=================================== NEW PRODUCT DISPLAY STARTS HERE======================= */

.valcode-npd-display-content {
    width: fit-content !important;
    height: fit-content !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    padding: 0.7rem 1.5rem !important;
    border-radius: 5px !important;
    position: relative !important;

}


.valcode-npd-close {
    width: 30px !important;
    height: 30px !important;
    background: transparent !important;
    border: none !important;
    outline: none !important;
    position: absolute !important;
    right: 0 !important;
    top: 0 !important;
    cursor: pointer !important;
    z-index: 1 !important;
}

.valcode-npd-close img {
    width: 8px !important;
    height: 8px !important;
}

.valcode-npd-title {
    font-size: 1.2rem !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;

}

.valcode-npd-subtitle {
    font-size: .8rem !important;
}

.valcode-npd-content-two {
    height: 13rem !important;
    width: 10rem !important;
    border: 1px dashed red !important;
    margin: .5rem 0 !important;

}

.valcode-npd-content-three {
    height: 3rem !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.valcode-npd-content-three-button {
    padding: 0.4rem 2.5rem !important;
    font-weight: bolder !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
}

.valcode-npd-content-three-button {
    outline: none !important;
    border: none !important;
    box-shadow: 0 0 10px #cec5c58a !important;
    border-radius: 3px !important;
    z-index: 9 !important;
    cursor: pointer !important;
}


/* ===============================media==================================== */
@media (max-width: 700px) {
    .valcode-npd-display-content {
        padding: 0.4rem .5rem !important;
    }


    .valcode-npd-close {
        right: -5px !important;
        top: -10px !important;
        cursor: pointer !important;
        z-index: 1 !important;
    }

    .valcode-npd-close img {
        width: 6px !important;
        height: 6px !important;
    }

    .valcode-npd-title {
        font-size: .5rem !important;
    }

    .valcode-npd-subtitle {
        font-size: .4rem !important;
    }

    .valcode-npd-content-two {
        height: 7rem !important;
        width: 6rem !important;
    }

    .valcode-npd-content-three {
        height: 2rem !important;
    }

    .valcode-npd-content-three-button {
        padding: 0.2rem .9rem !important;
        font-size: .6rem !important;
    }
}

/*  =====================================NEW PRODUCT DISPLAY ENDS HERE================================= */

/* ==========================LATEST CONVERSATION WITH BUTTON STARTS HERE =================================*/


.valcode-lcwb-content {
    width: fit-content !important;
    max-width: fit-content !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    position: relative !important;
}

.valcode-lcwb-profile-wrapper {
    border-radius: 5px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;

}

.valcode-lcwb-close {
    width: 30px !important;
    height: 30px !important;
    background: transparent !important;
    border: none !important;
    outline: none !important;
    position: absolute !important;
    right: 0 !important;
    top: 0 !important;
    cursor: pointer !important;
    z-index: 1 !important;
}

.valcode-lcwb-close img {
    width: 8px !important;
    height: 8px !important;
}

.valcode-lcwb-profile-title-wrapper {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    padding: 0.3rem 0.5rem !important;
    border-radius: 5px !important;
}

.valcode-lcwb-profile-title-header {
    font-size: 12px !important;
    font-weight: bolder !important;
    margin: 0 !important;
}

.valcode-lcwb-profile-title-appointment {
    padding: 0.3rem 0 !important;
    font-size: 10px !important;
    font-weight: 500 !important;
    margin: 0 !important;
}

.valcode-lcwb-profile-title-time {
    display: flex !important;
    align-items: center;
    gap: 2rem !important;
    font-size: 10px !important;
}


.valcode-lcwb-profile-button {
    padding: 0.2rem 0.5rem !important;
    outline: none !important;
    border: none !important;
    cursor: pointer !important;
    border-radius: 2px !important;
    font-size: 10px !important;
    margin-top: .5rem !important;
}

.valcode-lcwb-profile-title-time-one {
    margin: 0 !important;

}

.valcode-lcwb-btn-profile-wrapper {
    border-radius: 5px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.valcode-lcwb-btn-profile-img {
    width: 4rem !important;
    height: 4rem !important;
    padding: 0.5rem 0.5rem !important;
}



@media (max-width: 950px) {
    .valcode-lcwb-profile-wrapper {
        padding: 0.7rem 0.5rem !important;
    }

    .valcode-lcwb-close {
        right: 0 !important;
        top: -5px !important;
        cursor: pointer !important;
        z-index: 1 !important;
    }

    .valcode-lcwb-close img {
        width: 6px !important;
        height: 6px !important;
    }

    .valcode-lcwb-profile-title-wrapper {
        padding: 0.3rem 0.5rem !important;
    }

    .valcode-lcwb-profile-title-header {
        font-size: 9px !important;
    }

    .valcode-lcwb-profile-title-appointment {
        padding: 0.3rem 0 !important;
        font-size: 8px !important;
    }

    .valcode-lcwb-profile-title-time {
        gap: 1rem !important;
        font-size: 8px !important;
    }

    .valcode-lcwb-profile-button {
        font-size: 8px !important;
    }

    .valcode-lcwb-btn-profile-img {
        width: 3.4rem !important;
        height: 3.4rem !important;
        padding: 0.5rem 0.5rem !important;
    }

}



/* ======= FULL BAR LEAD GENERATION ====  */

.valcode-fblg-content {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: 450px !important;
    gap: 10px !important;
    padding: 0.5rem 1rem !important;
}

.valcode-fblg-details {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 10px !important;
}

.valcode-fblg-input {
    width: 150px !important;
    border: none !important;
    outline: none;
    font-size: 12px !important;
    padding: 0.2rem 0.3rem !important;
}

.valcode-fblg-text {
    font-size: 10px !important;
}

.valcode-fblg-button {
    padding: 0.3rem 0.2rem !important;
    cursor: pointer !important;
    border: none !important;
    outline: none !important;
    font-size: 10px !important;
}

@media(max-width: 950px) {

    .valcode-fblg-content {
        width: 280px !important;
        gap: 5px !important;
        padding: 0.2rem 0.5rem !important;
    }

    .valcode-fblg-details {
        gap: 5px !important;
    }

    .valcode-fblg-input {
        width: 80px !important;
        font-size: 10px;
        padding: 0.2rem 0.3rem !important;
        font-family: inherit !important;
    }

    .valcode-fblg-text {
        font-size: 8px !important;
    }

    .valcode-fblg-button {
        padding: 0.1rem 0.1rem !important;
        cursor: pointer !important;
        border: none !important;
        outline: none !important;
        font-size: 8px !important;
    }
}

/* ========= CALL BACK REQUEST ===========  */

.valcode-cbr-content {
    width: 250px !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 1rem 1rem !important;
    position: relative !important;
}

.valcode-cbr-close {
    width: 30px !important;
    height: 30px !important;
    background: transparent !important;
    border: none !important;
    outline: none !important;
    position: absolute !important;
    right: 0 !important;
    top: 0 !important;
    cursor: pointer !important;
    z-index: 1 !important;
}

.valcode-cbr-close .valcode-cbr-close-image {
    width: 8px !important;
    height: 8px !important;
}

.valcode-cbr-header {
    font-size: 18px !important;
    padding: 0 1rem !important;
    font-weight: 600 !important;
    text-align: center !important;
}

.valcode-cbr-select-container {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 10px !important;
    width: 100% !important;
}

.valcode-cbr-select {
    width: 50% !important;
    padding: 0.3rem 0.5rem !important;
    border-radius: 4px !important;
    outline: none !important;
}

.valcode-cbr-phone {
    width: 100% !important;
    margin: 0.8rem 0 !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    border-radius: 4px !important;
}

.valcode-cbr-phoneselect {
    width: 20% !important;
    outline: none !important;
    border: none !important;
    padding: 0.3rem 0.3rem !important;

}

.valcode-cbr-phoneinput {
    border: none !important;
    outline: none !important;
    width: 80% !important;
    padding: 0.5rem 0.3rem !important;
    font-family: inherit !important;

}

.valcode-cbr-button {
    border: none !important;
    width: 100% !important;
    outline: none;
    padding: 0.5rem 0 !important;
    margin: 0.3rem 0 !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    border-radius: 4px !important;
}

.valcode-cbr-footertext {
    font-size: 10px !important;
    text-align: center !important;
}

@media(max-width:950px) {

    .valcode-cbr-content {
        width: 200px !important;
    }

    .valcode-cbr-header {
        font-size: 16px !important;
    }

    .valcode-cbr-button {

        font-size: 12px !important;

    }
}