* {
    padding: 0;
    margin: 0;
    box-sizing: border-box !important;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 2rem auto;
    padding: 0 1rem;
}

.notification-preview-coupon {
    width: 100% !important;
}

.valcode-wrapper {
    margin: 2rem 0 !important;
}

.valcode-wrapper-shadow {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* =================COUPON DISPLAY WITH COPY BUTTON============  */

.valcode-cdwcb-content {
    display: flex !important;
    justify-content: center !important;
    width: 460px !important;
    max-width: 460px !important;
}

.valcode-cdwcb-image {
    flex: 1 !important;
    padding-top: 1rem !important;

}

.valcode-cdwcb-image img {
    width: 100px !important;

}

.valcode-cdwcb-details {
    flex: 1.5 !important;
    text-align: center !important;
    padding: 1rem 0 !important;
}

.valcode-cdwcb-title {
    font-size: 20px !important;
    font-weight: 600 !important;
}

.valcode-cdwcb-subtitle {
    font-size: 14px !important;
    padding: 1rem 0 !important;
    font-weight: 600 !important;

}

.valcode-cdwcb-coupon-code-container {
    margin: 0 auto !important;
    border-radius: 10px !important;
    width: 60% !important;
}

.valcode-cdwcd-coupon-code {
    font-size: 16px !important;
    margin: 0 !important;
    padding: 0.5rem 0 !important;
    font-weight: 600;

}

.valcode-cdwcd-copy-button {
    border-radius: 10px !important;
    padding: 0.5rem 1.3rem !important;
    margin-top: 1rem !important;
    cursor: pointer !important;
    font-size: 14px !important;
}

.valcode-cdwcd-checkout {
    font-style: italic !important;
    font-size: 10px !important;
    padding: 0.5rem 0 !important;
}

@media(max-width: 950px) {
    .valcode-cdwcd-checkout {
        font-style: italic !important;
        font-size: 5px !important;
        padding: 0.5rem 0 !important;
    }

    .valcode-cdwcd-copy-button {
        padding: 0.2rem 1rem !important;
        margin-top: 0.5rem !important;
        font-size: 5px !important;
    }

    .valcode-cdwcd-coupon-code {
        font-size: 8px !important;
        padding: 0.2rem 0 !important;

    }

    .valcode-cdwcb-title {
        font-size: 8px !important;
    }

    .valcode-cdwcb-subtitle {
        font-size: 8px !important;
        padding: 0.5rem 0 !important;

    }

    .valcode-cdwcb-content {
        width: 200px !important;
        max-width: 200px !important;
    }

    .valcode-cdwcb-image img {
        width: 50px !important;
        height: 70px !important;
    }

    .valcode-cdwcb-coupon-code-container {
        border-radius: 5px !important;
    }
}

/* end of first  */

/* second starts here  */
/* <!-- ========== FULL CALL TO ACTION BAR ================== --> */

.valcode-fctab-content {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: 100% !important;
    gap: 30px !important;
    padding: 0.5rem 1rem !important;
}

.valcode-fctab-details {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 20px !important;
}

.valcode-fctab-details img {
    height: 40px !important;
}

.valcode-fctab-button {
    padding: 0.5rem 1rem !important;
    cursor: pointer !important;
    border: none !important;
    outline: none !important;
}

@media(max-width: 950px) {
    .valcode-fctab-text {
        font-size: 10px !important;
    }

    .valcode-fctab-details img {
        height: 20px !important;
    }

    .valcode-fctab-button {
        padding: 0.2rem 0.5rem !important;
        cursor: pointer !important;
        border: none !important;
        outline: none !important;
        font-size: 10px !important;
    }

    .valcode-fctab-content {
        gap: 20px !important;
        padding: 0.3rem 1rem !important;
    }

    .valcode-fctab-details {
        gap: 10px !important;
    }
}

@media(max-width: 300px) {
    .valcode-fctab-text {
        font-size: 5px !important;
    }

    .valcode-fctab-details img {
        height: 10px !important;
    }

    .valcode-fctab-button {
        padding: 0.3rem 0.3rem !important;
        cursor: pointer !important;
        border: none !important;
        outline: none !important;
        font-size: 5px !important;
    }

    .valcode-fctab-content {
        gap: 5px !important;
        padding: 0.3rem 1rem !important;
    }

    .valcode-fctab-details {
        gap: 5px !important;
    }
}

/* <!-- end of second  piece --> */

/* third piece starts here  */
/* ========================FULL CALL TO ACTION BAR WITH TIMER =============================  */

.valcode-fctabwt-content {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 30px !important;
    width: 100% !important;
    padding: 0.2rem 1rem !important;

}

.valcode-fctabwt-timer-container {
    display: flex !important;
    justify-content: center !important;
    align-items: flex-start !important;
    gap: 10px !important;
}

.valcode-fctabwt-span {
    font-size: 14px !important;
}

.valcode-fctabwt-button {
    padding: 0.5rem 1rem !important;
    cursor: pointer !important;
    border: none !important;
    outline: none !important;
    margin-left: 2rem !important;
    font-weight: 600 !important;
}

@media(max-width:950px) {
    .valcode-fctabwt-content {
        gap: 10px !important;
        width: 100% !important;
        padding: 0.2rem 1rem !important;

    }

    .valcode-fctabwt-time {
        font-size: 10px !important;
    }

    .valcode-fctabwt-span {
        font-size: 8px !important;
    }

    .valcode-fctabwt-text {
        font-size: 10px !important;
    }

    .valcode-fctabwt-timer-container {
        gap: 3px !important;
    }

    .valcode-fctabwt-button {
        padding: 0.2rem 0.5rem !important;
        font-size: 10px !important;
    }
}

@media(max-width: 300px) {
    .valcode-fctabwt-content {
        gap: 5px !important;
        width: 100% !important;
        padding: 0.2rem 1rem !important;

    }

    .valcode-fctabwt-time {
        font-size: 8px !important;
    }

    .valcode-fctabwt-span {
        font-size: 4px !important;
    }

    .valcode-fctabwt-text {
        font-size: 5px !important;
    }

    .valcode-fctabwt-timer-container {
        gap: 3px !important;
    }

    .valcode-fctabwt-button {
        padding: 0.2rem 0.5rem !important;
        font-size: 8px !important;
        margin-left: 1rem !important;
    }
}

/* third piece ends here  */

/* fourth piece starts here  */
/* <!-- ============COUPON WITH OPT-IN FORM(GET IT)========== --> */

.valcode-cwof-get-content {
    width: 300px !important;
    max-width: 300px !important;
    border-radius: 10px !important;
    position: relative !important;
    padding: 1rem 0;
}

.valcode-cwof-get-imagebox {
    position: relative !important;
    width: 300px !important;
    max-width: 300px !important;
    height: 200px !important;
    max-height: 200px !important;

}

.valcode-cwof-get-bulbimage {
    width: 250px !important;
}

.valcode-cwof-get-bulbimage img {
    width: 250px !important;
}

.valcode-cwof-get-giftbox {
    position: absolute !important;
    width: 100px !important;
    top: 70px !important;
    left: 100px !important;
}

.valcode-cwof-get-giftbox img {
    width: 90px !important;
}

.valcode-cwof-get-title {
    font-size: 30px !important;
    opacity: 70% !important;
}

.valcode-cwof-get-subtitle {
    font-size: 30px !important;
}

.valcode-cwof-get-button {
    border: none !important;
    outline: none !important;
    padding: 0.5rem 2rem !important;
    margin: 1rem 0 1rem 0 !important;
    border-radius: 8px !important;
    cursor: pointer !important;
}

.valcode-cwof-get-close {
    width: 30px !important;
    height: 30px !important;
    background: transparent !important;
    border: none !important;
    outline: none !important;
    position: absolute !important;
    right: 10px !important;
    cursor: pointer !important;
    z-index: 1 !important;
}

.valcode-cwof-get-close img {
    width: 10px !important;
    height: 10px !important;
}

@media(max-width:950px) {
    .valcode-cwof-get-content {
        width: 200px !important;
        max-width: 200px !important;
    }

    .valcode-cwof-get-imagebox {
        position: relative !important;
        width: 100px !important;
        max-width: 100px !important;
        height: 90px !important;
        max-height: 180px !important;

    }

    .valcode-cwof-get-bulbimage {
        width: 100px !important;
    }

    .valcode-cwof-get-bulbimage img {
        width: 100px !important;
    }

    .valcode-cwof-get-giftbox {
        position: absolute !important;
        width: 50px !important;
        top: 20px !important;
        left: 32px !important;
    }

    .valcode-cwof-get-giftbox img {
        width: 40px !important;
    }

    .valcode-cwof-get-title {
        font-size: 24px !important;
        opacity: 70% !important;
    }

    .valcode-cwof-get-subtitle {
        font-size: 30px !important;
    }

    .valcode-cwof-get-button {
        border: none !important;
        outline: none !important;
        padding: 0.5rem 2rem !important;
        margin: 1rem 0 1rem 0 !important;
        border-radius: 8px !important;
        cursor: pointer !important;
    }
}

/* end of fourth piece  */

/* start of fifth piece  */
/* <!-- ===============COUPON WITH OPT-IN FORM(SUBSCRIBE)=============== --> */

.valcode-cwof-subscribe-content {
    width: 320px !important;
    max-width: 320px !important;
    border-radius: 10px !important;
    position: relative !important;
}

.valcode-cwof-subscribe-header {
    width: 100% !important;
    border-top-right-radius: 10px !important;
    border-top-left-radius: 10px !important;
}

.valcode-cwof-subscribe-close {
    width: 30px !important;
    height: 30px !important;
    background: transparent !important;
    border: none !important;
    outline: none !important;
    position: absolute !important;
    right: 10px !important;
    cursor: pointer !important;
    z-index: 1 !important;
}

.valcode-cwof-subscribe-close img {
    width: 20px !important;
    height: 20px !important;
}

.valcode-cwof-subscribe-title {
    font-size: 30px !important;
    text-align: start !important;
    padding: 2.5rem 0 1rem 1rem !important;
}

.valcode-cwof-subscribe-form {
    display: flex !important;
    flex-direction: column !important;
    width: 100% !important;
    justify-content: start !important;
    align-items: flex-start !important;
    padding: 0 1rem !important;
}

.valcode-cwof-subscribe-subtitle {
    text-align: start !important;
    font-size: 14px !important;
    padding: 1rem 2rem 1rem 1rem !important;
}

.valcode-cwof-subscribe-label {
    font-size: 14px !important;
}

.valcode-cwof-subscribe-input {
    width: 70% !important;
    outline: none !important;
    border-radius: 5px !important;
    padding: 0.5rem 0.5rem !important;
    margin-top: 0.5rem !important;
}

.valcode-cwof-subscribe-button {
    margin: 1rem 0 !important;
    padding: 0.6rem 0 !important;
    width: 80% !important;
    border: none !important;
    outline: none !important;
    cursor: pointer !important;
    border-radius: 5px !important;
}

@media(max-width: 950px) {
    .valcode-cwof-subscribe-content {
        width: 250px !important;
        max-width: 250px !important;

    }
}

/* end of fifth piece  */

/* sixth piece starts here  */
/* <!-- =============LIVE COUNTER ====================== --> */

.valcode-livecounter-content {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 320px;
    gap: 10px;
    padding: 1rem 1rem;
    border-radius: 5px;
}

.valcode-livecounter-image {
    width: 50px;
    height: 50px;
}

.valcode-livecounter-image img {
    width: 50px;
    height: 50px;
}

.valcode-livecounter-title {
    font-size: 14px;
    font-weight: 500;
    text-align: start;
}

.valcode-livecounter-subtitle {
    font-size: 11px;
    text-align: start;
}

@media(max-width:950px) {
    .valcode-livecounter-content {
        width: 220px;
        gap: 10px;
        padding: 1rem 0.5rem;
        border-radius: 5px;
    }

    .valcode-livecounter-image {
        width: 20px;
        height: 20px;
    }

    .valcode-livecounter-image img {
        width: 20px;
        height: 20px;
    }

    .valcode-livecounter-title {
        font-size: 10px;
    }

    .valcode-livecounter-subtitle {
        font-size: 8px;

    }
}

/* sixth piece ends here  */

/* seventh piece starts here  */
/* <!-- =============== CONVERSION COUNTER ============= --> */

.valcode-conversion_counter-content {
    display: flex !important;
    justify-content: start !important;
    align-items: flex-start !important;
    width: 320px !important;
    gap: 10px !important;
    padding: 0.5rem 1rem !important;
    border-radius: 5px !important;
}

.valcode-conversion_counter-details {
    display: flex !important;
    flex-direction: column !important;
}

.valcode-conversion_counter-image {
    width: 50px !important;
    height: 50px !important;
}

.valcode-conversion_counter-image img {
    width: 50px !important;
    height: 50px !important;
}

.valcode-conversion_counter-flash {
    width: 20px !important;
    height: 20px !important;
}

.valcode-conversion_counter-flash img {
    width: 20px !important;
    height: 20px !important;
}

.valcode-conversion_counter-text {
    font-size: 12px !important;
    text-align: start !important;
}

.valcode-conversion_counter-link {
    font-size: 12px !important;
    float: left !important;
    padding: 0.2rem 0 !important;
}

.valcode-conversion_counter-footer {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin-right: -5rem !important;
    font-size: 12px !important;
}

@media(max-width:950px) {
    .valcode-conversion_counter-content {
        width: 220px !important;
        gap: 10px !important;
        padding: 0.5rem 1rem !important;
    }

    .valcode-conversion_counter-image {
        width: 30px !important;
        height: 30px !important;
    }

    .valcode-conversion_counter-image img {
        width: 30px !important;
        height: 30px !important;
    }

    .valcode-conversion_counter-flash {
        width: 10px !important;
        height: 10px !important;
    }

    .valcode-conversion_counter-flash img {
        width: 10px !important;
        height: 10px !important;
    }

    .valcode-conversion_counter-text {
        font-size: 10px !important;
    }

    .valcode-conversion_counter-link {
        font-size: 10px !important;
        padding: 0.1rem 0 !important;
    }

    .valcode-conversion_counter-footer {
        font-size: 10px !important;
    }
}

/* seventh piece ends here  */
/* <!-- ========= YES/NO BAR ================ --> */

.valcode-ynbar-content {
    display: flex !important;
    justify-content: center !important;
    flex-direction: column !important;
    align-items: center !important;
    width: 250px !important;
    gap: 10px !important;
    border-radius: 5px !important;
}

.valcode-ynbar-image {
    width: 140px !important;
    height: 120px !important;
}

.valcode-ynbar-image img {
    width: 140px !important;
    height: 120px !important;
}

.valcode-ynbar-title {
    padding: 0.5rem 0 !important;
    font-size: 14px !important;
}

.valcode-ynbar-button {
    padding: 0.5rem 0 !important;
    width: 70% !important;
    margin: 0.5rem 0 !important;
    border: none !important;
    border-radius: 5px !important;
    font-size: 10px !important;
    font-family: inherit !important;
}

@media(max-width:950px) {
    .valcode-ynbar-content {
        width: 180px !important;
        gap: 10px !important;
    }

    .valcode-ynbar-image {
        width: 120px !important;
        height: 100px !important;
    }

    .valcode-ynbar-image img {
        width: 120px !important;
        height: 100px !important;
    }

    .valcode-ynbar-title {
        padding: 0.5rem 0 !important;
        font-size: 10px !important;
    }

    .valcode-ynbar-button {
        padding: 0.5rem 0 !important;
        width: 70% !important;
        border: none !important;
        font-size: 8px !important;
    }
}

/* =========== COUNTDOWNTIMER=========================  */
.valcode-countdowntimer-content {
    display: flex !important;
    justify-content: center !important;
    flex-direction: column !important;
    align-items: center !important;
    width: 300px !important;
    border-radius: 5px !important;
}

.valcode-countdowntimer-title {
    font-size: 16px !important;
    font-weight: 600 !important;
    word-spacing: 0.2rem !important;
}

.valcode-countdowntimer-container {
    display: flex !important;
    justify-content: space-around !important;
    align-items: center !important;
    gap: 10px !important;
    padding: 1rem 0 !important;
}

.valcode-countdowntimer-time {
    height: 40px !important;
    width: 30px !important;
    font-size: 20px !important;
    padding: 0.5rem 0.5rem !important;
    border-radius: 4px !important;
    font-weight: 600 !important;
}

.valcode-countdowntimer-bolt {
    height: 15px !important;
    width: 15px !important;
}

.valcode-countdowntimer-bolt img {
    height: 15px !important;
    width: 15px !important;
}

.valcode-countdowntimer-timebox {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    gap: 1px !important;
}

.valcode-countdowntimer-period {
    margin-top: 0.2rem !important;
    font-size: 12px !important;
}

.valcode-countdowntimer-button {
    font-family: inherit !important;
    font-size: 12px !important;
    padding: 0.3rem 2rem !important;
    border-radius: 3px !important;
    border: none !important;
    outline: none !important;
}

@media(max-width:950px) {
    .valcode-countdowntimer-content {
        width: 200px !important;
    }

    .valcode-countdowntimer-title {
        font-size: 12px !important;
        word-spacing: 0.1rem !important;
        text-align: center !important;
    }

    .valcode-countdowntimer-container {
        gap: 8px !important;
        padding: 0.8rem 0 !important;
    }

    .valcode-countdowntimer-time {
        height: 25px !important;
        width: 20px !important;
        font-size: 10px !important;
        padding: 0.5rem 0.5rem !important;
        border-radius: 1px !important;
    }

    .valcode-countdowntimer-period {
        font-size: 10px !important;
    }

    .valcode-countdowntimer-button {
        font-size: 10px !important;
        padding: 0.3rem 1rem !important;
        border-radius: 3px !important;
    }
}

/* =========================SUPPORT BOX====================  */

.valcode-supportbox-content{
    width: 300px !important;
    border-radius: 5px !important;
    height: 380px!important;
    max-width: fit-content!important;
    position: relative!important;
    overflow: hidden!important;
}
.valcode-supporbox-header{
    width: 100%!important;
    display: flex!important;
    justify-content: start!important;
    align-items: center!important;
    gap: 10px!important;
    padding: 0.5rem 1rem!important;
}
.valcode-supporbox-avatar{
    height: 40px!important;
    width: 40px!important;
}
.valcode-supporbox-avatar img{
    height: 40px!important;
    width: 40px!important;
}
.valcode-supporbox-title{
    font-size: 14px!important;
}
.valcode-supporbox-leftchat{
    display: flex!important;
    justify-content: start!important;
    align-items: center!important;
    gap: 10px!important;
    margin: 1rem  0 0.5rem 0.5rem!important;
}
.valcode-supporbox-leftchat-image{
    height: 30px!important;
    width: 30px!important;
}
.valcode-supporbox-leftchat-image img{
    height: 30px!important;
    width: 30px!important;
}
.valcode-supporbox-leftchat-text{
    font-size: 12px!important;
}
.valcode-supporbox-leftchat-chat{
    padding: 0.7rem 0.7rem!important;
    max-width: 65%!important;
    text-align: start!important;
    border-radius: 20px!important; 
}
.valcode-supporbox-rightchat-chat{
    padding: 0.7rem 0.7rem!important;
    max-width: 65%!important;
    text-align: end!important;
    border-radius: 20px!important; 
}
.valcode-supporbox-rightchat{
    display: flex!important;
    justify-content: end!important;
    align-items: center!important;
    gap: 10px!important;
    margin: 1rem  0.5rem 0.5rem 0!important;
}
.valcode-supporbox-rightchat-image{
    height: 30px!important;
    width: 30px!important;
}
.valcode-supporbox-rightchat-image img{
    height: 30px!important;
    width: 30px!important; 
}
.valcode-supporbox-rightchat-text{
    font-size: 12px!important;
}
.valcode-supporbox-footer{
    position: absolute!important;
    bottom: 0!important;
    display: flex!important;
    justify-content: space-between!important;
    align-items: center!important;
    width: 100%!important;
    padding: 0.5rem 1rem!important;
}
.valcode-supporbox-footer-btn{
    height: 30px!important;
    width: 30px!important;
    border: none!important;
    outline: none!important;
    background: transparent!important;
    cursor: pointer!important;
}
.valcode-supporbox-footer-input{
    width: 100%!important;
    font-size: 8px!important;
    border: none!important;
    outline: none!important;
    padding: 0.3rem 0.2rem!important;
}
.valcode-supporbox-footer-buttons{
    display: flex!important;
    justify-content: space-around!important;
    align-items: center!important;
}
.valcode-supporbox-footer-btn .valcode-supporbox-footer-btn-image1{
    height: 18px!important;
    width: 18px!important; 
}
.valcode-supporbox-footer-btn .valcode-supporbox-footer-btn-image2{
    height: 25px!important;
    width: 25px!important; 
}

@media(max-width:950px){
    
.valcode-supportbox-content{
    width:200px !important;
    height: 280px!important;
}

.valcode-supporbox-avatar{
    height: 30px!important;
    width: 30px!important;
}
.valcode-supporbox-avatar img{
    height: 30px!important;
    width: 30px!important;
}
.valcode-supporbox-title{
    font-size: 12px!important;
}

.valcode-supporbox-leftchat-image{
    height: 25px!important;
    width: 25px!important;
}
.valcode-supporbox-leftchat-image img{
    height: 25px!important;
    width: 25px!important;
}
.valcode-supporbox-leftchat-text{
    font-size: 10px!important;
}

.valcode-supporbox-rightchat-image{
    height: 25px!important;
    width: 25px!important;
}
.valcode-supporbox-rightchat-image img{
    height: 25px!important;
    width: 25px!important; 
}
.valcode-supporbox-rightchat-text{
    font-size: 10px!important;
}
.valcode-supporbox-footer{
    padding: 0.5rem 0.5rem!important;
}
.valcode-supporbox-footer-btn{
    height: 25px!important;
    width: 25px!important;

}

.valcode-supporbox-footer-btn .valcode-supporbox-footer-btn-image1{
    height: 16px!important;
    width: 16px!important; 
}
.valcode-supporbox-footer-btn .valcode-supporbox-footer-btn-image2{
    height: 22px!important;
    width: 22px!important; 
}

}


/* ============ EVENT REGISTRATION WITH TIMER ====  */
.valcode-erwt-content{
    width: 300px !important;
    border-radius: 5px !important;
    max-width: fit-content!important;
    padding: 1rem 1rem !important;
}
.valcode-erwt-title{
    width: 60%!important;
    font-weight: 800!important;
    font-size: 16px!important;
    padding: 0.3rem 0!important;
    border-radius: 5px!important;
}
.valcode-erwt-subtitle{
    font-size: 12px!important;
    text-align: center!important;
    padding: 1rem 0.5rem!important;
}
.valcode-erwt-videocontent{
    width: 250px!important;
    height: 150px!important;
}
.valcode-erwt-videocontent img{
    width: 250px!important;
    height: 150px!important;
}
.valcode-erwt-timer-container {
    display: flex !important;
    justify-content: center !important;
    align-items: flex-start !important;
    gap: 6px !important;
    padding: 1rem 0!important;
}
.valcode-erwt-time{
    font-size: 16px!important;
    font-weight: 600!important;
}

.valcode-erwt-span {
    font-size: 10px !important;
}
.valcode-erwt-footer-input{
    border:none!important;
    outline: none!important;
    padding: 0.5rem 0.5rem!important;
    width: 68%!important;
    border-radius: 5px!important;
}
.valcode-erwt-footer-btn{
    border:none!important;
    outline: none!important;
    padding: 0.5rem 0!important;
    width: 28%!important;
    border-radius: 5px!important; 
    font-family: inherit!important;
    font-weight: 600!important;
}
.valcode-erwt-footer-text{
    font-size: 8px!important;
    margin-top: 0.5rem!important;
}
@media(max-width:950px){
    .valcode-erwt-content{
        width: 200px !important;
    }
    .valcode-erwt-title{
        width: 65%!important;
        font-size: 14px!important;
    }
    .valcode-erwt-subtitle{
        font-size: 8px!important;
        text-align: center!important;
        padding: 1rem 0.5rem!important;
    }
    .valcode-erwt-videocontent{
        width: 150px!important;
        height: 100px!important;
        max-width: fit-content!important;
        max-height: fit-content!important;
    }
    .valcode-erwt-videocontent img{
        width: 150px!important;
        height: 100px!important;
    }
    .valcode-erwt-timer-container {
        display: flex !important;
        justify-content: center !important;
        align-items: flex-start !important;
        gap: 1px !important;
        padding: 1rem 0!important;
    }
    .valcode-erwt-time{
        font-size: 14px!important;
    }
    
    .valcode-erwt-span {
        font-size: 8px !important;
    }
    .valcode-erwt-footer-input{
        font-size: 10px !important;

    }
    .valcode-erwt-footer-btn{
        font-size: 10px !important;
    }
  
}